* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
}

input {
  border-radius: 5px;
}

select {
  border-radius: 5px;
}

button {
  cursor: pointer;
}

.header {
  background-color: #3498db;
  padding: 30px 100px;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  color: white;
}

.info {
  display: flex;
  gap: 50px;
  font-size: 25px;
}

.logo {
  color: white;
  font-size: 30px;
}

.create-button {
  display: block;
  margin: 40px auto 0;
  padding: 15px 30px;
  border-radius: 6px;
  background-color: #2ecc71;
  color: white;
  font-size: 25px;
  border: none;
}

.create-button:hover {
  background-color: #20b65f;
}

dialog {
  margin: auto;
  border: none;
  position: fixed;
  padding: 30px;
  width: calc(100% - 40px);
  max-width: 600px;
}

.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-buttons-container {
  display: flex;
  gap: 15px;
}

label > * {
  padding: 7px;
}

#closeModal {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  border: none;
}

#closeModal:hover {
  background-color: #308bc8;
}

#acceptCreation {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border-radius: 5px;
  border: none;
}

#acceptCreation:hover {
  background-color: #20b65f;
}

.edit-todo-button {
  background: url(edit-icon.png) no-repeat center center;
  padding: 25px;
  min-height: 30px;
  min-width: 30px;
}

.delete-todo-button {
  background: url(delete-icon.png) no-repeat center center;
  padding: 25px;
  min-height: 30px;
  min-width: 30px;
}

#hidden-input-todoId{
  display:none;
}

#todo-container {
  margin: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.todo-card {
  padding: 15px;
  border: solid black 1px;
}

.todo-tags-div{
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  background-color: darkkhaki;
}

#toast {
  position: fixed;
  bottom: 50px; 
  right: -2vw;
  transform: translateX(-50%);
  background-color: #308bc8;
  color: white;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

summary {
  cursor: pointer;
  user-select: none;
}

.sort-dropdown, .filter-dropdown {
  position: relative;
  width: 200px;
  margin: 20px;
}

.filter-status-options{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
  left: 100%;
  top: 10px;
}

.dropdown-button {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-button .icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sort-options, .filter-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 10;
  min-height: 100px;
  min-width: 100px;
}

.sort-options li {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sort-options li:hover, .filter-options li:hover {
  background-color: #f0f0f0;
}

.create-modal-tags-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content label {
  padding: 12px 16px;
  display: block;
  cursor: pointer;
}

.dropdown-content label:hover {
  background-color: #f1f1f1;
}