* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #f5f5f5;
}

input {
  border-radius: 5px;
}

select {
  border-radius: 5px;
}

button {
  cursor: pointer;
}

.header {
  background-color: #3498db;
  padding: 30px 100px;
}

.header-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 25px;
  color: white;
}

.info {
  display: flex;
  gap: 50px;
  font-size: 25px;
}

.logo {
  color: white;
  font-size: 30px;
}

#createTodo-button {
  display: block;
  margin: 40px auto 0;
  padding: 15px 30px;
  border-radius: 6px;
  background-color: #2ecc71;
  color: white;
  font-size: 25px;
  border: none;
}

#createTodo-button:hover {
  background-color: #20b65f;
}

dialog {
  margin: auto;
  border: none;
  position: fixed;
  padding: 30px;
}

#createTodo-dialog {
  width: calc(100% - 40px);
  max-width: 600px;
}

#createForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-buttons-container {
  display: flex;
  gap: 15px;
}

.modal-content {
  padding: 7px;
}

#closeModal {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  border: none;
}

#closeModal:hover {
  background-color: #308bc8;
}

#acceptCreation {
  padding: 10px 20px;
  background-color: #2ecc71;
  color: white;
  border-radius: 5px;
  border: none;
}

#acceptCreation:hover {
  background-color: #20b65f;
}

#edit-todo {
  background: url(edit-icon.png) no-repeat center center;
  padding: 25px;
  min-height: 30px;
  min-width: 30px;
}

#delete-todo {
  background: url(delete-icon.png) no-repeat center center;
  padding: 25px;
  min-height: 30px;
  min-width: 30px;
}

#todo-container {
  margin: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.todo-card {
  padding: 15px;
  border: solid black 1px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  background-color: darkkhaki;
}
